doctype html
html
    head
        title= title
        | !{styles}
    body
        if html
            #app
                div
                    | !{html}
        else if message
            #error= message
            pre= error

        | !{scripts}

